/* font */
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 0;
}

/* 메인 */
.mainBox {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-family: 'Cafe24SsurroundAir';
    position: relative;
    scroll-behavior: smooth;
}

.mainText {
    position: absolute;
    left: 52%;
    top: 32%;
}

.mainText h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.2;
}

.mainTextBubble {
    position: absolute;
    left: 50%;
    top: 260px;
}

.speech-bubble {
	position: relative;
	background: #C7F5FC;
	border-radius: .5em;
    width: 450px;
    height: 170px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 120px;
	width: 0;
	height: 0;
	border: 0.781em solid transparent;
	border-right-color: #C7F5FC;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.391em;
	margin-left: -0.781em;
}

.mainBox img {
    width: 700px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 20%;
}

/* section 1 */
.firstSection {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(213,248,253,1) 100%);
    /* background-color: #D5F8FD; */
    position: relative;
    font-family: 'Cafe24SsurroundAir';
}

.firstSectionBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro {
    margin: 0 auto;
    width: 800px;
    height: auto;
    align-items: center;
}

.intro img {
    width: 190px;
    height: auto;
    border-radius: 50%;
}

.intro td:first-child {
    width: 200px;
    vertical-align: top;
}

.intro h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    padding-left: 20px;
}

.introList {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    line-height: 1.8;
    font-size: 1.1rem;
    font-weight: 500;
}

.introList > li {
    list-style: none;
}

.aboutme {
    margin-left: 1rem;
    margin-top: 18px;
}

.seemore {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.minHeight {
    min-height: 189px;
}

.card p {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.8;
}

/* section 2 */
.secondSection {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background: rgb(213,248,253);
    background: linear-gradient(180deg, rgba(213,248,253,1) 47%, rgba(32,171,194,1) 100%);
}

.secondCarousel {
    width: 800px;
    height: 500px;
}

/* footer */
footer {
    height: 200px;
    background-color: #20ABC2;
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Cafe24SsurroundAir';
    font-weight: 600;
    line-height: 200px;
    color: #fff;
}

/* sidenav */
.fixed-right {
    position: fixed;
    right: 40px;
}

.sidenav{
    top: 45vh;
    margin: 0;
}

.sidenav-container {
    align-items: center;
    text-align: center;
}

.sidenav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidenav li {
    font-size: 0.6rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.sidenav li a {
    color: rgba(174, 174, 174, 0.7);
}

.sidenav li:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}